@font-face {
    font-family: Sholom;
    src: url('/static/fonts/Sholom.ttf');
}

.nav-content {
 font-family: "Sholom", serif ;
 font-size: 1.2em;
}

.wordmark {
  /* This value controls the entire size of the logo*/
  font-size: 6px;
  font-size: clamp(1px, 5px, 8px);
  width: 38em;
  margin: 0;
  background-size: 150em;
  text-align: center;
}

.inner {
    flex: 1;
    display: grid;
    grid-template-rows: 20% 1fr 1fr;
    align-content: center;
}

h1 {
    color: var(--white);
    display: grid;
    grid-template-rows: 8fr 2fr;
    align-items: center;
    margin: 0;
    grid-row: 2 / span 2;
    grid-gap: 2em;
    /* transform: translateY(-0.7em); */
}

.kibbitz {
    font-size: 3.2em;
    letter-spacing: -0.02em;
    --rotate: -12deg;
}

.glitch-kibbitz {
    transform: scale(1.2);
    display: block;
}

.letter {
    font-size: 5em;
    color: var(--white);
    --scale: 1;
    --rotate: -10deg;
    --translateX: 0;
    --translateY: 0;
    --rotateX: 0deg;
    transform: scale(var(--scale)) rotate(var(--rotate)) translateX(var(--translateX)) translateY(var(--translateY)) rotateX(var(--rotateX));
    display: inline-block;
    line-height: 1;
    transition: transform 0.3s;

}

.G {
    --translateX: -0.05;
}

.l {
    --rotate: 2deg;
    --scale: 1.4;
    --translateX: 0.05em;
    --translateY: -0.05em;
}

.i {
    --scale: 0.9;
    --translateY: -0.1em;
    --translateX: 0.1em;
}

.t {
    --rotate: 3deg;
    --scale: 0.9;
    --translateX: 0.1em;
    --translateY: 0.23em;
}

.c {
    --rotate: -12deg;
    --scale: 1.2;
    --translateX: 0.06em;
}

.h {
    --rotate: 12deg;
    --scale: 0.9;
    --translateY: -0.14em;
}