* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

@font-face {
  font-family: Sholom;
  src: url('/static/fonts/Sholom.ttf');
}