{% extends "layout.html" %}
{% from "macros/events_list.html" import render_events %}
{% block body %}
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">{{ this.hero_title }}</h1>
        <p class="hero-subtitle">{{ this.hero_subtitle }}</p>
        <div class="hero-ctas">
            <a href="https://glitchkibbitz.bandcamp.com/" class="cta-button">
                <i class="fa-brands fa-bandcamp"></i>
                Listen Now
            </a>
            <a href="{{ config.PROJECT.NEWSLETTER }}" class="cta-button secondary">
                <i class="fas fa-envelope"></i>
                Join the List
            </a>
        </div>
    </div>
</section>

<section class="band-intro">
    <div class="intro-content">
        {{ this.about_text }}
    </div>
</section>

<section class="latest-release">
    <h2 class="section-title">Latest Releases</h2>
    <div class="release-grid">
        {% for release in this.latest_releases.blocks %}
        <div class="release-card">
            <img src="{{ release.image }}" alt="{{ release.title }}" class="release-image">
            <div class="release-content">
                <h3 class="release-title">{{ release.title }}</h3>
                <p class="release-date"><i>Released {{ release.date }}</i></p>
                <p class="release-date">{{ release.description }}</p>
                <a href="{{ release.url }}" class="cta-button">
                    <i class="fa-brands fa-bandcamp"></i>
                    Listen Now
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="hero-ctas">
        <i>We have plenty more releases on <a href="{{ config.PROJECT.BANDCAMP }}">Bandcamp</a>!</i>
    </div>
</section>

<section class="tour-dates">
    <h2 class="section-title">Upcoming Events</h2>
    {{ render_events(this.events) }}
    <!-- <div class="tour-grid">
        {% for event in this.events.blocks %}
        <div class="tour-item">
            <div class="tour-date">{{ event.date|dateformat('MMMM D, YYYY') }}</div>
            <div class="tour-location">
                <div>{{ event.venue }}</div>
                <div>{{ event.location }}</div>
            </div>
            {% if event.ticket_link %}
            <a href="{{ event.ticket_link }}" class="cta-button tour-button">Get Tickets</a>
            {% endif %}
        </div>
        {% endfor %}
    </div> -->
</section>
{% endblock %}