.wordmark {
  font-size: clamp(1px, 5px, 8px);
  width: 38em;
  margin: 0;
  background-size: 150em;
  text-align: center;

  > a {
    text-decoration: none;  
  }
}

.inner {
    flex: 1;
    display: grid;
    grid-template-rows: 20% 1fr 1fr;
    align-content: center;

    h1 {
        color: var(--white);
        display: grid;
        grid-template-rows: 8fr 2fr;
        align-items: center;
        margin: 0;
        grid-row: 2 / span 2;
        grid-gap: 2em;
    }
}

.kibbitz {
  font-size: 3.2em;
  letter-spacing: -0.02em;
  --rotate: -12deg;
}

.glitch-kibbitz {
    transform: scale(1.2);
    display: block;
}

// First define the mixin to use CSS custom properties with defaults
@mixin letter-transform {
  transform: scale(var(--scale, 1)) 
             rotate(var(--rotate, -10deg)) 
             translateX(var(--translateX, 0)) 
             translateY(var(--translateY, 0)) 
             rotateX(var(--rotateX, 0deg));
}

.letter {
  font-size: 5em;
  color: var(--white);
  display: inline-block;
  line-height: 1;
  transition: transform 0.3s;
  @include letter-transform;
}

// Then each letter just needs to set the variables it wants to override
.G {
  --translateX: -0.05;
}

.l {
  --rotate: 2deg;
  --scale: 1.4;
  --translateX: 0.05em;
  --translateY: -0.05em;
}

.i {
  --scale: 0.9;
  --translateY: -0.1em;
  --translateX: 0.1em;
}

.t {
  --rotate: 3deg;
  --scale: 0.9;
  --translateX: 0.1em;
  --translateY: 0.23em;
}

.c {
  --rotate: -12deg;
  --scale: 1.2;
  --translateX: 0.06em;
}

.h {
  --rotate: 12deg;
  --scale: 0.9;
  --translateY: -0.14em;
}